.footer-nav {
  background-color: #3c8cff;
  padding-top: 5vh;
  width: 100vw;
  z-index: 999;
}
.footer-nav .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nav .footer-wrapper .footer-nav-left {
  margin-left: 10vw;
  height: 10vh;
  display: flex;
  align-items: center;
}
.footer-nav .footer-wrapper .footer-nav-left img {
  height: 10vh;
}
.footer-nav .footer-wrapper .footer-nav-right {
  margin-right: 10vw;
  display: flex;
}
.footer-nav .footer-wrapper .footer-nav-right .nav-right {
  margin-right: 5vw;
  font-weight: bold;
  color: white;
  font-size: 1.2vw;
  margin-bottom: 0.5vh;
}
.footer-nav .footer-wrapper .footer-nav-right .nav-right a {
  display: block;
}
.footer-nav .footer-wrapper .footer-nav-right .nav-right a .nav-item {
  font-size: 1vw;
  color: white;
  font-weight: normal;
  margin-bottom: 0.2vh;
}
.footer-nav .footer-bottom {
  color: white;
  font-size: 1vw;
  text-align: right;
  margin-right: 10vw;
  padding-bottom: 0.5vh;
}
.footer-nav .footer-bottom p {
  margin-bottom: 0.3vh;
  font-weight: bold;
}
