.home-information {
  margin-top: 20vh;
  display: flex;
}
.home-information .information-left {
  margin-left: 15%;
  width: 30%;
  margin-right: 5%;
}
.home-information .information-left .detail {
  font-size: 1.5vw;
  color: gray;
}
.home-information .information-right {
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.3);
  border-radius: 15%;
  height: 35vw;
  width: 35vw;
  overflow: hidden;
  position: relative;
}
.home-information .information-right #left-button {
  position: absolute;
  font-size: 3vw;
  color: black;
  top: 50%;
  z-index: 10;
}
.home-information .information-right #right-button {
  position: absolute;
  font-size: 3vw;
  color: black;
  top: 50%;
  right: 0;
  z-index: 10;
}
.home-information .information-right #img-ul {
  display: flex;
  position: relative;
}
.home-information .information-right #img-ul img {
  height: 18vw;
  width: 35vw;
}
.home-information .information-right #img-ul .title {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  margin-top: 2vw;
}
.home-information .information-right #img-ul .detail-li {
  text-align: center;
  font-size: 1vw;
  color: gray;
}
