.home-time{
    margin-top: 20vh;
    .home-top{
        margin-left: 15%;
    }
    .home-bottom{
        position: relative;
        width: 50vw;
        height: 20vw;
        margin: 0 auto;
        overflow: hidden;
        #bottom-list{
            position: absolute;
            top: 1vw;
            left: 25vw;
            transform: translateX(-17.5vw);
            display: flex;
            justify-content: center;
            align-items: center;
            transition-property: left;
            transition-duration: 1s;
            .bottom-item{
                .home-time-card{
                    width: 30vw;
                    height: 12vw;
                    background-color:white;
                    border-radius: 2vw;
                    box-shadow:0 0 15px rgba(0,0,0,0.3);
                    margin-right: 15vw;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    .time-img{
                        width: 50%;
                        height: 100%;
                    }
                    .time{
                        font-size: 2vw;
                        font-weight: bold;
                    }
                    .detail{
                        font-size: 1vw;
                        color: gray;
                    }
                }
            }
            
        }
        #bottom-line-list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: .5vw;
            left: 25vw;
            transform: translateX(-1.5vw);
            transition-property: left;
            transition-duration: 1s;
            font-size: 0;
            .bottom-line-item{
                .home-time-line{
                    border-radius: 50%;
                    background-color: #3c8cff;
                    margin-right: 7.5vw;
                    position: relative;
                    &::after{
                        position: absolute;
                        transform: translateX(-9vw);
                        content: "";
                        border-top: 2px solid #3c8cff;
                        width: 18vw;
                        top: 50%;
                        z-index: -1;
                    }
                }

                .timeInactive{
                    width: 1.5vw;
                    height: 1.5vw;
                }
                .timeActive{
                    width: 3vw;
                    height: 3vw;
                }
            }
        }
        
    }
}