.home-contact {
  margin-top: 200px;
}
.home-contact .home-contact-top {
  margin-left: 15%;
  width: 700px;
}
.home-contact .home-contact-bottom {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15%;
}
.home-contact .home-contact-bottom .title-small {
  flex: 0 0 50%;
  margin-bottom: 100px;
}
.home-contact .home-contact-bottom .title-small p {
  font-size: 30px;
  font-weight: bold;
}
.home-contact .home-contact-bottom .title-small a {
  font-size: 25px;
}
