.home-contact{
    margin-top: 20vh;
    .home-contact-top{
        margin-left: 15%;
    }
    .home-contact-bottom{
        display: flex;
        flex-wrap: wrap;
        margin-left: 15%;
        .title-small{
            flex:0 0 50%;
            margin-bottom: 10vh;
            p{
                font-size: 2vw;
                font-weight: bold;
            }
            a{
                font-size: 1.5vw;
            }
        }
    }
}