.header-nav {
  position: fixed;
  top: 0;
  background-color: #3c8cff;
  height: 15%;
  width: 100%;
  transition-property: height, opacity;
  transition-duration: 1s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
.header-nav .header-nav-left {
  margin-left: 200px;
  height: 100px;
  display: flex;
  align-items: center;
}
.header-nav .header-nav-left img {
  height: 70px;
}
.header-nav .header-nav-right {
  margin-right: 200px;
}
.header-nav .header-nav-right .link-button {
  margin-left: 40px;
}
.header-nav .header-nav-right .link-button .nav-item {
  font-size: 20px;
}
.inactive {
  height: 0;
  opacity: 0;
}
.active {
  height: 15%;
  opacity: 1;
}
