.home-carousel{
    height: 100%;
    width: 100%;
    .introduction-box{
        position: absolute;
        left: 200px;
        top: 0;
        width: 500px;
        padding: 200px 50px 50px 50px;
        z-index: 99;
        background-color: white;
        border-bottom-right-radius: 50%;
        .introduction{
            font-size: 26px;
            color: gray;
        }
        .detail{
            font-size: 40px;
            font-weight: bold;
        }
    }
    .home-carousel-item{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}